* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: #000;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    padding: 1.5% 5%;
}

.rock-red {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 75px;
    height: auto;
}

.imgLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 15%;
    height: auto;
}

button {
    display: flex;
    align-items: center;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    height: 75%;
    margin: auto;
    transition: 0.3s;
}

button:hover {
    border-color: #ff0044;
}

.btnGroup {
    display: flex;
    column-gap: 10px;
}