* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: normal;
    padding: 6px;
}

p {
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #292929;
    color: #fff;
    flex-wrap: wrap;
    gap: 8px 15px;
}

.logo {
    width: 180px;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 180px;
}

.btn-option {
    background-color: transparent;
    color: #fff;
    padding: 6px;
    font-size: 16px;
    border: none;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.btn-option:hover {
    cursor: pointer;
    border-bottom: 2px solid black
}

.sectionTitle {
    padding-top: 20px;
    text-align: center;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.sectionDescription {
    text-align: center;
    color: #383838;
}

.container {
    display: flex;
    min-height: 100vh;;
    flex-direction: column;
}

.main-content {
    display: grid;
    grid-template-columns:  3fr 1fr;
    grid-template-areas: 
    "categorys"
    "extra-categorys";
    padding: 20px;
    flex: 1 0 auto;
}

.categorys {
    grid-area: categorys;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 50px;
}

.extra-categorys {
    background-color: #383838;
    color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    gap: 30px;
}

.item {
    width: 264px;
    height: 380px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
}

.item:hover {
    cursor: pointer;
    border-color: black;
    border-radius: 12px;
}

.item-img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
}

.extra-category-subtitle {
    padding: 10px;
    text-align: center;
}

.extra-card {
    width: 75%;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
}

.extra-card:hover {
    border-color: gainsboro;
    border-radius: 10px;
}

.extra-category-img {
    width: 100%;
    border-radius: 10px;
    height: 75%;
    cursor: pointer;
}

.footer {
    display: flex;
    min-height: 40px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 20px;
    background-color: #292929;
    color: #fff;
}

@media (max-width: 630px) {
    .main-content {
        grid-template-areas:
        "categorys"
        "extra-categorys";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .categorys {
        grid-column: 1/2;
        align-self: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .extra-categorys {
        grid-column: 1/2;
        min-width: auto;
    }
}

@media (max-width:440px) {
    .footer {
        justify-content: center;
    }
    .header {
        justify-content: center;
    }
    a {
        font-size: 19px
    }
}
